[submodule "fuzzy"]
	path = fuzzy
	url = git://github.com/auto-complete/fuzzy-el.git
[submodule "pos-tip"]
	path = pos-tip
	url = git://github.com/emacsmirror/pos-tip.git
[submodule "smartrep"]
	path = smartrep
	url = https://github.com/myuhe/smartrep.el.git
[submodule "auto-complete"]
	path = auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "python"]
	path = python
	url = git://github.com/fgallina/python.el.git
[submodule "websocket"]
	path = websocket
	url = git://github.com/ahyatt/emacs-websocket.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "nxhtml"]
	path = nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
[submodule "popup"]
	path = popup
	url = git://github.com/auto-complete/popup-el.git
[submodule "ein"]
	path = ein
	url = git://github.com/tkf/emacs-ipython-notebook.git
[submodule "ert"]
	path = ert
	url = git://github.com/ohler/ert.git
